<div class = 'card'>
    <div *ngFor= "let line of All_products" >
        <h2>{{line.frameColor}}</h2>
        <h2>{{line.uniqueName}}</h2>
    </div>
    <div class = 'data'>
        <div class="table-responsive">
            <div *ngFor= "let line of products_h" >
                <h2>Name is {{line.uniqueName}}</h2>
                <h2>Frame model is {{line.frameModel}}</h2>
                <h2>Frame Colour is {{line.frameColor}}</h2>
                <h2>Varient Group is {{line.varientGroup}}</h2>
                <h2>Material Type is {{line.materialType}}</h2>
                
                <h2>RRP is {{line.rrp}}</h2>
                <h2>RRP Currency is {{line.rrpCurrency}}</h2>
                <h2>Frame Colour Description is {{line.frameColourDescription}}</h2>
                <h2>Frame Size is {{line.frameSize}}</h2>
                <img src="{{'data:image/png;base64,' + line.base64Emb}}" />
                <!--<img src={{temp}} alt="Red dot" />-->

            </div>
        </div>
    </div>
</div>